* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #87abc3;
    font-family: 'Roboto', sans-serif;
}

main {
    width: 100%;
    height: 100vh;
}

nav {
    background-color: #a35c25;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

h1 {
    color: #87abc3;
}

.principal {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100vh;
}

.esquerda {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-direction: column;
}

.card-esquerda {
    background-color: #535382;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 60%;
    border-radius: 20px;
    margin-bottom: 8rem;
    max-width: 600px;
}

.resultado {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.saida-res {
    margin-top: 1rem;
}

.res-esq {
    border: 1px solid #a35c25;
    background-color: #87abc3;
    padding: 0.4rem 1.5rem;
    margin: 0.2rem;
    border-radius: 5px;
    font-size: 0.8rem;
    color: #a35c25;
    flex-direction: row wrap;
}

.lb-esq {
    font-size: 13px;
}

img{
    max-width: 6rem;
}

.form {
    width: 50%;
    height: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #a35c25;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    margin-top: 1rem;
    color: #87abc3;
    cursor: pointer;
}

button:hover {
    background-color: #75431c;
    color: #5e7f95;
}

.btn-top {
    margin-bottom: 0.8rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.bnt-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 0.5rem;
    gap: 1.5rem;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

label {
    color: #87abc3;
    font-weight: 600;
    margin-top: 0.3rem;
}

input {
    display: flex;
    flex-direction: column;
    margin-top: 0.3rem;
    padding: 5px;
    border: 1px solid #a35c25;
    border-radius: 5px;
    width: 90%;
    max-width: 200px;
    margin-right: 1rem;
}

.direita {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.card-direita {
    background-color: #535382;
    display: flex;
    padding: 1rem;
    width: 50%;
    height: 55%;
    border-radius: 20px;
    margin-bottom: 9rem;
    max-width: 600px;
}

h2 {
    color: #a35c25;
    margin-bottom: 1rem;
}

.lb-saida {
    display: flex;
    gap: 5px;
}
.saida {
    color: #87abc3;
    font-weight: 600;
}

@media (max-width: 560px) {
    .principal {
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
    }

    .esquerda {
        width: 110%;
        height: 100%;
    }

    .direita {
        width: 100%;
        height: 100%;
    }

    .card-direita {
        width: 60%;
        height: 400px;
    }

    .form {
        margin: 1rem 1rem 2rem 0;
        width: 45%;
    }

    button {
        width: 50px;
        font-size: 8px;
    }

    .saida-res {
        margin-left: 1rem;
    }


    img {
        max-width: 4rem;
    }

    .res-esq {
        width: 40%;
        height: 18px;
        font-size: 11px;
        display: flex;
        align-items: center;
    }
}

#display_image {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 1px solid #000000;
    background-position: center;
    background-size: cover;
}